body {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.logo {
  height: 50%;
  width: 50%;
}

.paddingBottom15 {
  padding-bottom: 15px;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  color: #27dbbd;
  border-radius: 10px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 5px;
  background-color: #d14f62;
  height: 100%;*/
}

.loginWindow {
  background-color: #fff;
  color: #d14f62;
  display: none;
  width: 300px;
  height: 500px;
  left: 45%;
  top: 20%;
  position: fixed;
}

footer {
  background-color: #d14f62;
  color: white;
  bottom: 5px;
  right: 5px;
  left: 5px;
  border-radius: 5px;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
}

/*.uff-form-sliding > div.sliding-container > div {
  width: 583px;
}

.pager > li > a {
  cursor: pointer;
}

.pager > li.right {
  float: right;
  display: block;
}


.pager > li.left {
  float: left;
  display: block;
}*/

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 850px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}

  .logo {
  	display: none;
  }

  .navbar {
  	width: 100%;
  	left: 0;
  }

  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
  }
}
